* {
  box-sizing: border-box;
}

.container {
  height: auto;
  margin: 0.5rem auto;
  text-align: center;
  .love {
    font-size: 0.9rem;
    color: $heart;
  }
  .wrapper {
    .like-button {
      position: relative;
      width: $like-size;
      height: $like-size;
      border-radius: 50%;
      background: $foreground;
      display: flex;
      justify-content: center;
      align-items:center;
      margin: 0 auto;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
      .like-overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: $like-size;
        height: $like-size;
        border-radius: 50%;
        background: $heart;
        transform: scale(0);
        transition: all .4s;
        z-index: 0;
      }
      i {
        &.not-liked {
          display: block;
          color: $white;
          position: relative;
          z-index: 1;
        }
        &.is-liked {
          display: none;
          color: $white;
          position: relative;
          z-index: 1;
        }
      }
      &.is-active {
        .like-overlay {
          transform: scale(1);
        }
        i {
          &.not-liked {
            display: none;
          }
          &.is-liked {
            display: block;
          }
        }
      }
    }
  }
}

//Watch me get bouncy
@-webkit-keyframes bouncy {
    from, to { -webkit-transform: scale(1, 1); }
    25% { -webkit-transform: scale(0.9, 1.1); }
    50% { -webkit-transform: scale(1.1, 0.9); }
    75% { -webkit-transform: scale(0.95, 1.05); }
}
@keyframes bouncy {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05);}
}

//Settings
.bouncy {
    -webkit-animation: bouncy 0.6s;
    animation: bouncy 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

//Css Ninja link
.link-button {
  width: $like-size;
  height: $like-size;
  border-radius: 50%;
  background: #6dacff;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  img {
    width: 32px;
    height: 32px;
    display: block;
  }
  &:hover {
    transform: scale(1.1) rotate(180deg);
    background: $heart;
  }
}